/* Empty. Add your own CSS if you like */
.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
}


.imgContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.clockImg {
  width: 60%;
}

.mainTittle {
  font-size: 30px;
}

.welcomeTittle {
  text-align: center;
  font-size: 15px;
  margin-top: 20%;
  margin-bottom: 10%;
}

.incomeInputBox {
  text-align: center;
  border-bottom: 1px solid black;
  width: 100%;
}
